body{
  /* This style will be inherited */
  font-family: Roboto, Arial;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

a:link    { text-decoration: none; color:unset; }
a:visited { text-decoration: none; color: unset;}
a:hover   { text-decoration: none; color: unset;}
a:active  { text-decoration: none; color: unset;}





.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(87, 87, 139);
  color: white;
  padding-right: 50px;
}

.company-name {
  padding: 25px;
  font-size: 30px;
  animation-name: animation-company-name;
  animation-duration: 2s;
  position: relative;
}

@keyframes animation-company-name {
  0%   {left:-1000px; top:0px;}
  100%  {left:0px; top:0px;}
}

.info-menu {
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 25px;
  animation-name: animation-info-menu;
  animation-duration: 2s;
  position: relative;
}


@keyframes animation-info-menu {
  0%   {top:-100px;}
  100%  {top:0px;}
}